In [47]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import math
import yfinance as yf
import numpy as np

start = datetime(2019, 7, 4)

end = datetime(2019, 7, 16)

# TSM - TSMC
# MU - Micron
# WDC - Western Digital
# 3690.hk - Meituan
# SBAC - SBA Communication
# SMCAY - SMC Corp
# MSB
# 6594.T - Nidec

folder = 'output1'

# portfolio stocks
stocks = {'MU': '0.2','WDC': '0.11','3690.HK' : '0.19','UA': '0.2','MRK':'0.19', 'NOVN.SW': '0.11'}

df_stocks = pd.DataFrame.from_dict(stocks,  orient='index', columns=['weight'])

In [28]:
df_stocks

        weight
MU         0.2
WDC       0.11
3690.HK   0.19
UA         0.2
MRK       0.19
NOVN.SW   0.11

In [29]:
df = yf.download(" ".join(str(x) for x in df_stocks.index.to_list()), start=start, end=end)
df = df.dropna()

[*********************100%***********************]  6 of 6 downloaded

In [41]:
df.dropna().head(1)['Close']['3690.HK'].values[0]

69.1

In [46]:
df_stocks.apply(lambda x: x.index)

          weight
MU            MU
WDC          WDC
3690.HK  3690.HK
UA            UA
MRK          MRK
NOVN.SW  NOVN.SW

In [ ]:
port_value = df_stock.apply(lambda r: df[r].values[0] * + port_value)