In [64]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import math
import yfinance as yf
import numpy as np

start = datetime(2019, 1, 1)

end = datetime(2019, 7, 2)

# TSM - TSMC
# MU - Micron
# WDC - Western Digital
# 3690.hk - Meituan
# SBAC - SBA Communication
# SMCAY - SMC Corp
# MSB
# 6594.T - Nidec

folder = 'output1'

# all proposed stocks
astocks = ['TSM','MU', 'WDC', '3690.HK', 'SBAC', 'SMCAY', 'MSBHY','NJDCY','INFO']

# portfolio stocks
stocks = ['MU','WDC','3690.HK','UA','MRK', 'NOVN.SW']

# df for return and std summary
df_final = pd.DataFrame(index=stocks, columns=['expected_return','std', 'ln_return','ln_std'])

# Open csv that contain one sample stock
df1 = pd.DataFrame.from_csv('MU.csv')

# get the list of sample date
# TODO: there should be a better way to get the list of dates dynamically
df_correl = pd.DataFrame(index=df1.index)

/anaconda/envs/f3/lib/python3.6/site-packages/ipykernel_launcher.py:35: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [65]:
# loop over the stock list
for stock in stocks:
    
    # download from yahoo
    df = yf.download(stock, start=start, end=end)
    
    # print number of records in each stock
    print(df.shape)
    
    # calulate daily return
    df['daily_return'] = df.apply(lambda x: ((x.Close/x.Open)-1)*100, axis=1)
    
    # calculate ln daily return
    
    df['ln_daily_return'] = df.apply(lambda x: math.log(x.Close/x.Open), axis=1)

    df_correl = df_correl.join(df['ln_daily_return'], lsuffix='_'+stock)
    
    # calculate the mean
    df_final.loc[stock, 'expected_return'] = df['daily_return'].mean()

    # calculate sd
    df_final.loc[stock, 'std'] = df['daily_return'].std()
    
    # ln return
    df_final.loc[stock, 'ln_return'] = df['ln_daily_return'].mean()
    
    # ln std
    df_final.loc[stock, 'ln_std'] = df['ln_daily_return'].std()
    
    # output to csv
    df.to_csv(folder+'/'+stock+'.csv')

[*********************100%***********************]  1 of 1 downloaded
(126, 6)
[*********************100%***********************]  1 of 1 downloaded
(126, 6)
[*********************100%***********************]  1 of 1 downloaded
(118, 6)
[*********************100%***********************]  1 of 1 downloaded
(126, 6)
[*********************100%***********************]  1 of 1 downloaded
(126, 6)
[*********************100%***********************]  1 of 1 downloaded
(126, 6)

In [66]:
df_final

        expected_return       std    ln_return      ln_std
MU             0.119088   2.10688  0.000970687   0.0210319
WDC            0.132932   2.63349  0.000986897   0.0262123
3690.HK        0.427543   3.05973   0.00380901   0.0303299
UA             0.152508   1.85497   0.00135373   0.0185248
MRK           0.0468776   1.01728  0.000417051   0.0102176
NOVN.SW        0.233743  0.880573   0.00229644  0.00878134

In [67]:
df_final.to_csv(folder+'/return_std_summary.csv')

In [68]:
# drop rows with any missing record
df_clean = df_correl.dropna()
df_clean.shape

(113, 6)

In [62]:
# calculate the correlation matrix and output to csv
df_clean.corr()

,ln_daily_return_WDC,ln_daily_return_3690.HK,ln_daily_return_UA,ln_daily_return_MRK,ln_daily_return_NOVN.SW,ln_daily_return
ln_daily_return_WDC,1.000000,0.690178,0.034947,0.302734,0.047234,-0.118067
ln_daily_return_3690.HK,0.690178,1.000000,0.032988,0.221842,0.135612,-0.046688
ln_daily_return_UA,0.034947,0.032988,1.000000,0.026782,-0.019161,-0.031001
ln_daily_return_MRK,0.302734,0.221842,0.026782,1.000000,0.117100,-0.046773
ln_daily_return_NOVN.SW,0.047234,0.135612,-0.019161,0.117100,1.000000,0.428151
ln_daily_return,-0.118067,-0.046688,-0.031001,-0.046773,0.428151,1.000000

In [63]:
df_clean.corr().to_csv(folder+'/correlation_summary.csv')

In [69]:
df_clean.to_csv('price_matrix.csv')

In [70]:
import yfinance as yf
start = datetime(2019, 1, 1)
end = datetime(2019, 7, 2)

# portfolio stocks
stocks = ['MU','WDC','3690.HK','UA','MRK', 'NOVN.SW']

df = yf.download(stocks, start=start, end=end)

[*********************100%***********************]  6 of 6 downloaded

In [72]:
df['Close']

            3690.HK    MRK     MU  NOVN.SW     UA    WDC
Date
2018-12-31      NaN  76.41  31.73      NaN  16.17  36.97
2019-01-02    41.20  75.59  32.75      NaN  16.45  38.26
2019-01-03    41.25  74.04  31.00    74.26  15.96  35.65
2019-01-04    44.00  76.27  32.70    74.98  16.60  37.16
2019-01-07    45.45  75.43  34.00    73.46  17.11  38.48
2019-01-08    43.90  75.99  33.74    74.86  17.24  38.11
2019-01-09    45.60  75.41  35.44    75.23  17.62  39.79
2019-01-10    44.95  74.48  35.91    76.34  17.55  39.81
2019-01-11    45.50  74.90  36.01    76.73  17.86  40.03
2019-01-14    43.90  73.37  34.67    75.48  17.88  38.06
2019-01-15    43.75  74.50  33.99    76.92  17.92  37.68
2019-01-16    44.60  74.61  33.58    77.24  17.77  37.83
2019-01-17    44.20  75.60  33.88    77.81  18.15  36.47
2019-01-18    45.55  75.87  35.76    78.50  18.55  39.20
2019-01-21    45.65    NaN    NaN    78.07    NaN    NaN
2019-01-22    43.90  75.83  33.87    77.91  18.59  37.56
2019-01-23    43.45  75.44  34.24    77.81  18.40  37.62
2019-01-24    43.60  73.17  36.59    76.39  18.86  40.14
2019-01-25    47.85  72.95  38.96    75.69  19.49  43.16
2019-01-28    47.45  72.92  38.08    74.52  19.37  44.00
2019-01-29    47.50  73.23  37.39    75.72  18.93  42.55
2019-01-30    49.00  73.37  38.24    75.65  19.01  43.83
2019-01-31    53.30  74.43  38.22    76.47  18.94  44.99
2019-02-01    53.80  76.45  39.60    77.10  18.86  47.00
2019-02-04    54.65  76.87  39.47    77.88  18.93  47.85
2019-02-05      NaN  77.15  39.37    78.83  19.10  47.41
2019-02-06      NaN  77.39  41.52    78.99  18.93  48.00
2019-02-07      NaN  76.82  39.38    78.14  18.63  45.86
2019-02-08    57.90  77.52  38.58    78.25  19.04  46.71
2019-02-11    62.40  76.71  38.58    78.45  19.15  45.93
...             ...    ...    ...      ...    ...    ...
2019-05-22    61.70  80.98  34.73    84.18  21.37  42.19
2019-05-23    58.15  81.02  33.82    84.70  20.85  41.49
2019-05-24    61.00  81.17  34.00    87.25  20.91  40.98
2019-05-27    60.80    NaN    NaN    88.52    NaN    NaN
2019-05-28    61.10  80.26  32.94    88.46  20.96  39.58
2019-05-29    60.90  79.36  33.29    86.92  20.32  39.66
2019-05-30    60.05  79.68  33.32    86.92  20.44  39.46
2019-05-31    60.55  79.21  32.61    86.10  20.23  37.22
2019-06-03    60.35  80.26  32.69    87.47  20.72  37.08
2019-06-04    58.00  81.08  34.49    86.92  21.70  39.14
2019-06-05    59.65  81.69  33.34    87.24  22.60  37.90
2019-06-06    59.65  81.44  33.47    87.33  22.53  37.99
2019-06-07      NaN  82.46  33.99    87.30  22.89  36.94
2019-06-10    60.20  82.48  34.94    87.30  22.69  37.98
2019-06-11    61.30  82.98  34.84    87.73  23.10  38.41
2019-06-12    61.30  83.71  32.96    88.35  22.92  36.24
2019-06-13    61.50  82.90  33.38    89.00  23.49  37.34
2019-06-14    61.00  82.78  32.66    89.41  23.85  36.33
2019-06-17    61.05  83.30  32.43    89.68  23.52  36.27
2019-06-18    61.30  84.49  34.29    91.43  24.00  38.11
2019-06-19    62.45  85.36  33.94    90.96  23.75  38.84
2019-06-20    62.70  84.60  34.15    91.10  23.49  39.64
2019-06-21    64.30  84.57  33.25    90.12  23.10  40.04
2019-06-24    63.75  85.51  33.19    90.22  22.45  41.03
2019-06-25    63.60  85.24  32.68    90.90  21.86  41.10
2019-06-26    64.35  83.54  37.04    89.02  22.07  44.10
2019-06-27    68.50  83.83  38.07    89.21  22.15  44.55
2019-06-28    68.50  83.85  38.59    89.20  22.20  47.55
2019-07-01      NaN  84.75  40.11    90.27  22.07  49.65
2019-07-02    69.25    NaN    NaN      NaN    NaN    NaN

[130 rows x 6 columns]